<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./CSS/home.css">

    </head>
<body >

<div style="width: 100%;">

    <!--new navbar -->
   

    <nav class="navbar" >
        <!-- LOGO -->
        <div class="logo web-logo"></div>
    
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
    
          <!-- USING CHECKBOX HACK -->
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    
          <!-- NAVIGATION MENUS -->
          <div class="menu">
    
            <li><a href="/">Home</a></li>
            <li><a href="/">customize</a></li>
    
            <li class="services">
              <a href="/">Our Shop</a>
    
            </li>
    
            <li><a href="/">Help</a></li>
            <li><a href="/">Contact</a></li>
          </div>
        </ul>
      </nav>

    <!--new navbar -->
   

  
<main>
  <div class="combine-customize-slidebar">
    <div class="main-slidebar" >

        <div class="slideshow-container">

            <div class="mySlides fade">
              <div class="img-1 image-no1"></div>
            </div>
            
            <div class="mySlides fade">
              <div class="img-1 image-no2" style="background-size: cover;"></div>
            </div>
            
            <div class="mySlides fade">
              <div class="img-1 image-no3"></div>
            </div>
            
            </div>
            <br>
            
           <div style="text-align:center">
              <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
            </div>

    </div>


    <div class="customize-btn">
        <form action="/customize">
            <button id="customize" class="customize">CUSTOMISE YOUR NEON</button>
        </form>
    </div>

 </div>
 <!--combine-slidebar and customize button finish-->

 <div class="neon-lights-sample">
    <h3>Neon Lights Under 399</h3>
    <div class="under-400 lights">
        <div class="prize-img">
        <div class="first-neon  size"></div>
        <p class="prize">prize- 399</p>
    </div>
    <div class="prize-img">
        <div class="second-neon size "></div>
        <p class="prize">prize - 399</p>
        </div>
        <div class="prize-img">
        <div class="third-neon size"></div>
        <p class="prize">prize - 399</p>
        </div>
        <div class="prize-img">
        <div class="fourth-neon size"></div>
        <p class="prize">prize - 399</p>
        </div>
    </div>

    <div class="under-9999 ">
        <h3>Neon Lights Under 9999</h3>
        <div class="lights under-400">
          
            <div class="prize-img">
        <div class="first-neon first-9999 size"></div>
        <p class="prize">prize - 9999</p>
        </div>
        <div class="prize-img">
        <div class="second-neon second-9999 size"></div>
        <p class="prize">prize - 9999</p>
        </div>
        <div class="prize-img">
        <div class="third-neon third-9999 size"></div>
        <p class="prize">prize - 9999</p>
        </div>
        <div class="prize-img">
        <div class="fourth-neon fourth-9999 size"></div>
        <p class="prize">prize - 9999</p>
        </div>
    </div>
    </div>

    <div class="under-different-prices ">
        <h3>Neon Lights Under Different Prizes </h3>
        <div class="lights under-400">

            <div class="prize-img">
        <div class="first-neon under-1899 size"></div>
        <p class="prize">prize - 3999</p>
        </div>
        <div class="prize-img">
        <div class="second-neon under-1999 size"></div>
        <p class="prize">prize - 1999</p>
        </div>
        <div class="prize-img">
        <div class="third-neon under-3999 size" ></div>
        <p class="prize">prize - 399</p>
        </div>
        <div class="prize-img">
        <div class="fourth-neon under-2999 size"></div>
        <p class="prize">prize - 399</p>
        </div>
    </div>
 </div>


</main>
<footer style="bottom:0">
    <div class="footer-web">
        <div class="footer-main">
            <div class="personal-info">
                <div class="email info">
                    <p>Email</p>
                    <a href="$$">example@gmail.com</a>
                </div>
                <hr>
                <div class="whatsaap info">
                    <p class="para">Whatsapp</p>
                    <a href="##">1212121212 </a>
                </div>
                <hr>
                <div class="phone-no info">
                    <p>Phone No.</p>
                    <a href="##">6480653334</a>
                </div>
            </div>
                <div class="customer-quarry info">
                   <a href="$$" >About Us</a>
                   <a href="$$">Return & Refund</a>
                   <a href="$$"> Term & Conditions</a>
                   <a href="$$"> Privacy Policy</a>
                </div>
             
        </div>

       <div class="last-lines">
        <p> 2024 NEON BLAZE. All rights are reserved</p>
        <p>Created with &nbsp; <i class="fa-solid fa-heart"></i> &nbsp; by NEON BLAZE team</p>
      
      </div>
 </div>
</footer>
</body>
<script src="./JS/home.js"></script>
</html>